@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

:root {
    --color-rocket: rgb(110, 35, 160);
}

* {
    margin: 0;
    padding: 0;   
    border: 0;     
}
body {
    background-color: rgb(18, 18, 20);
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 30px 0px;
    text-align: center;
}
.links a {
    margin: 0 30px;
    text-decoration: none;
    color: white;
}
.links a:hover {
    color: var(--color-rocket);
    transition: 200ms;
}
section .img-logo {
    text-align: center;
    padding-top: 20px;
}

#img-logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid white;
}
section .description{
    color: white;
    text-align: center;
    padding: 30px;
}
section div h1 {
    font-size: 44px;
    line-height: 54px;
    padding:10px;
}
section div h2 {
    padding: 10px;
}
section div p {
    padding: 10px;
}
section div ul{
    list-style-type: none;
}
footer {
    text-align: center;
}
footer #links-footer a {
    padding: 10px;
    text-decoration: none;
    color: white;
}
footer #links-footer a:hover {
    color: var(--color-rocket);
    transition: 200ms;
}

/*== CONTENT ==*/

section {
    color: white;
    padding:5px 50px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.card {
    text-align: center;
    border: 1px solid rgb(32, 32, 36);
    border-radius: 2%;
    background-color: rgb(32, 32, 36);
}
.card__image-container {
    padding-top: 120px; 
}

.card__content {
    text-align: center;
    padding-top: 30px;
}

.card__info {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 120px;
}


